<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="vue.js" type="text/javascript" charset="UTF-8"></script>
		<title></title>
	</head>
	<body>
		<div id="app">
			<div id="example-1">
				<input v-model="message1" placeholder="input"/>
				<p>Message is: {{ message1 }}</p>
			</div>
			<div id="example-2">
				<textarea v-model="message2" placeholder="textarea"></textarea>
				<p>{{ message2 }}</p>
			</div>
			<div style="margin-top: 20px;" id="example-3">
				<input type="checkbox" value="Jack" id="jack" v-model="checkedName"/>
				<label for="jack">Jack</label>
				<input type="checkbox" value="John" id="john" v-model="checkedName"/>
				<label for="john">John</label>
				<input type="checkbox" value="Mike" id="mike" v-model="checkedName"/>
				<label for="mike">Mike</label>
				<br />
				<span>Checked name: {{ checkedName }}</span>
			</div>
			<div style="margin-top: 20px;" id="example-4">
				<input type="radio" value="One" id="one" v-model="picked"/>
				<label for="one">One</label>
				<input type="radio" value="Two" id="two" v-model="picked" />
				<label for="two">Two</label>
				<br />
				<span>Picked: {{ picked }}</span>
			</div>
			<button v-on:click="submit">submit</button>
		</div>
		
		<script type="text/javascript">
			var vm = new Vue({
				el: "#app",
				data: {
					message1: "",
					message2: "",
					checkedName: [],
					picked: ""
				},
				methods: {
					submit: function() {
						var result = {
							message1: this.message1,
							message2: this.message2,
							checkedName: this.checkedName,
							picked: this.picked
						}
						console.log(result)
					}
				}
			});
		</script>
	</body>
</html>
